[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-datastore = "*"

[dev-packages]
twine = "*"
python-dotenv = "*"
coverage = "*"
pydoc-markdown = "*"
coverage-badge = "*"

[requires]
python_version = "3.6"
